<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Anthropomorphic Twisted String-Actuated Soft Robotic Gripper with Tendon-Based Stiffening</h1>
      <h2 class="project-tagline"></h2>
      <!--{% for page in site.pages %}
        <a href= {{ page.filename }} class="btn">{{ page.title }}</a>
      {% endfor %} -->
      <a href="https://tsadrivensoftgripper.github.io/introduction" class="btn">Introduction</a>
      <a href="https://tsadrivensoftgripper.github.io/design_fabrication" class="btn">Design and Fabrication</a>
      <a href="https://tsadrivensoftgripper.github.io/characterization_position" class="btn">Bending Angle Characterization</a>
      <a href="https://tsadrivensoftgripper.github.io/characterization_thumb" class="btn">Thumb Characterization</a>
      <a href="https://tsadrivensoftgripper.github.io/characterization_velocity" class="btn">Velocity Characterization</a>
      <a href="https://tsadrivensoftgripper.github.io/characterization_force" class="btn">Force Characterization</a>
      <a href="https://tsadrivensoftgripper.github.io/grasp_taxonomy" class="btn">Grasp Taxonomy</a>
      <a href="https://tsadrivensoftgripper.github.io/grasp_strength" class="btn">Grasp Strength</a>
      <a href="https://tsadrivensoftgripper.github.io/human_robot_interaction" class="btn">Human-Robot Interaction</a>
      <a href="https://tsadrivensoftgripper.github.io/kapandji_test" class="btn">Kapandji Test</a>
      <a href="https://tsadrivensoftgripper.github.io/grasp_types" class="btn">Grasp Types</a>
      <a href="https://tsadrivensoftgripper.github.io/manipulation" class="btn">In-Hand Manipulation</a>
      <!-- <a href="https://github.com/Spaceborne-PCMs/Spaceborne-PCMs.github.io" class="btn">View on GitHub</a> -->
      <!-- <a href="https://github.com/Spaceborne-PCMs/Spaceborne-PCMs.github.io/zipball/master" class="btn">Download .zip</a> -->
      <!-- <a href="https://github.com/Spaceborne-PCMs/Spaceborne-PCMs.github.io/tarball/master" class="btn">Download .tar.gz</a> -->
    </section>

    <section class="main-content">
      
      {{ content }}

      <footer class="site-footer">
        <!--<span class="site-footer-owner"><a href="https://github.com/Spaceborne-PCMs/Spaceborne-PCMs.github.io">Spaceborne-PCMs</a> is maintained by <a href="https://github.com/tsadrivensoftgripper">tsadrivensoftgripper</a> <a href="mailto:tsadrivensoftgripper@nevada.unr.edu">(contact)</a>.</span> -->
        <span class="site-footer-credits">Last updated April 14, 2022. </span>
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>

    </section>

  
  </body>
</html>
